<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" href="public/css/main.css">
</head>

<body>
<h2>Looked on the floor and all was spinning round</h2>
<h2>Someone told me this was just a dance</h2>
</body>
</html>